body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --SideBarDistance: 0px;
}

.topnav {
    overflow: hidden;
    background-color: #333;
}

    .topnav a {
        float: left;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
    }

       a.inactive:hover {
            background-color: #aaa;
            color: black;
        }

        a.active {
            background-color: #04AA6D;
            color: white;
        }


.blankButton {
    color: #f2f2f2;
    background: none;
    border: none;
    height: 100%;
    width: 100%;
}
.ProfileViewHolder{
    position: absolute;
    top: 5px;
    right: 20px;
   
    z-index: 2;
}
.ProfilePhoto {
    border-radius: 50%;
    width: 40px;
    height: 40px;
  
}

.buttonSignOut {
    background: #005B9A;
    
    justify-content: center;
    align-items: center;
    width: 50%;
    border: none;
    padding: 10px 20px;
    font-family: Verdana;
    font-weight: bold;
    color: white;
    font-size: 18px;
    text-decoration: none;
    border-radius: 5px;
  }
  
  .buttonSignOut:hover {
    background: #6a7081;
    cursor: pointer;
  }

.SideBar {
    height: 100%; /* 100% Full-height */
    width: var(--SideBarDistance); /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 2; /* Stay on top */
    margin-top: 0px;
    right: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    overflow:auto;
    transition: 1s; /* 0.5 second transition effect to slide in the sidebar */
    font-size: 36px;
    
}
.SideBarElement {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}
    
        /* When you mouse over the navigation links, change their color */
        .SideBarElement:hover {
            color: #f1f1f1;
            text-decoration: line-through;
        }

/* The button used to open the sidebar */
.openbtn {
    font-size: 20px;
    cursor: pointer;
    position: absolute;
    right: 0px;
    margin-top:0px;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
    z-index:2;
}

    .openbtn:hover {
        background-color: #444;
        font-size: 25px;
    }
.closebtn {
    font-size: 20px;
    cursor: pointer;
    position: absolute;
    right: 0px;
    top: 0px;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
}
    .closebtn:hover {
        font-size: 30px;
        background-color: #444;
    }

.Filter {
    padding: 8px 8px 8px 29px;
    
}