.Cal-header {
    width: 900px;
    height: 100px;
    position: relative;
    border: 1px solid black;
    margin-bottom: 0px;
    background: var(--backgroundHead);
    color: white;
    z-index: 1;
    font-family: Arial;
}

:root {
    --backgroundHead: blue;
    --backgroundHeader: red;
    --backgroundBox: grey;
}

table {
    margin-top: 0px;
    margin-left: 50px;
    width: 900px;
    height: 500px;
    border: none;
    background: #000;
    table-layout: fixed;
}


table, th, td {
    z-index: 1;
}



th {
    background-color: var(--backgroundHeader);
    color: white;
    width: 14.28571428571429%;
    height: 15%;
}




td:hover {
    opacity: 0.9;
}

.CalenderTD {
    text-align: right;
    vertical-align: top;
    color: papayawhip;
    background-color: var(--backgroundBox);
    height: 13.33333333333333%;
    width: 14.28571428571429%;
    overflow-x: hidden;
    overflow-y: hidden;
}

.CalenderTable {
    display: revert;
}
